.content {
    width: 100%;
    font-family: "Inter";
    color: #ffffff;
}

@media screen and (max-width: 1024px) {
    .content {
        max-width: 976px;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .content {
        max-width: 720px;
        margin: auto;
    }
}

@media screen and (max-width: 544px) {
    .content {
        min-width: 288px;
        max-width: 512px;
        margin: auto;
    }
}