.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__title {
    width: 100%;
    max-width: 720px;
    margin: 90px 0 32px;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    font-family: "Inter";
    color: #FFFFFF;
}

.header_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__image {
    width: 100%;
    max-width: 984px;
    height: auto;
    filter: grayscale(100%);
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5)
}

@media screen and (max-width: 1024px) {
    .header__title {
        margin: 90px 0 34px;
        font-size: 85px;
    }
        
    .header__image {
        max-width: 1024px;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .header__title {
        max-width: 530px;
        margin: 90px 0 25px;
        font-size: 75px;
    }
        
    .header__image {
        max-width: 768px;
    }
}

@media screen and (max-width: 544px) {
    .header__title {
        width: 100%;
        max-width: 228px;
        margin: 50px 0 16px;
        font-size: 40px;
        line-height: 44px;
    }

    .header_logo {
        width: 188px;
    }
        
    .header__image {
       width: 100%;
    }
}