.places {
    width: 100%;
    max-width: 984px;
    margin: 0 auto;
}

.places__card {
    display: grid;
    grid-template-columns: 460px 486px;
    grid-template-areas: 
        "title artist"
        "image text"
        "button text"
        ". text";
    row-gap: 48px;
    column-gap: 40px;
    margin-bottom: 80px;
}

.places__title {
    grid-area: title;
    max-width: 460px;
    font-size: 72px;
    line-height: 76px;
    margin: 0;

}

.places__image {
    grid-area: image;
    width: 460px;
    height: 460px;
    object-fit: cover;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

.places__artist {
    grid-area: artist;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end; 
}

.places__span {
    width: 100%;
    font-size: 12px;
    font-family: "Inter";
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.12em;
    color: #AAAAAA;
}

.places__name {
    grid-area: artist;
    margin-top: 8px;
    margin-bottom: 0;
}

.places__paragraph {
    grid-area: text;
    width: 100%;
    font-size: 18px;
    line-height: 29.4px;
    color: #ffffff;
    margin: 0;
}

.places__paragraph_text {
    margin-top: 0;;
    margin-bottom: 25px;
}

.places__button {
    grid-area: button;
    width: 356px;
    height: 48px;
    background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
    color: #FFFFFF;
    border-radius: 4px;
    padding: 0;
    font-weight: 600;
    font-size: 18px;
    border: none;
    text-align: center;
    cursor: pointer;
    box-shadow: 5px 5px 10px #00000040;
    display: block;
    line-height: 48px;
    text-decoration: none;
}

.places__link {
    color: inherit; 
    text-decoration: none; 
    display: block;
    height: 100%;
}
    
.button:hover {
    background: linear-gradient(90deg, rgba(2, 120, 254, 0.25) 0%, rgba(0, 58, 123, 0.25) 99.98%);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 976px;
        margin: 88px auto;
    }

    .places__card {
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
        padding: 24px;
        margin-bottom: 72px;
    }
}


@media screen and (max-width: 768px) {
    .places {
        max-width: 720px;
        margin: 88px auto;
    }

    .places__card {
        grid-template-columns: 1fr 1fr;
        column-gap: 13px;
        padding: 24px;
        margin-bottom: 72px;
    }

    .places__title {
        max-width: 288px;
        font-size: 42px;
        line-height: 46px;
    }

    .places__image {
        max-width: 340px;
        max-height: 340px;
    }

    .places__paragraph {
        max-width: 352px;
        font-size: 16px;
        line-height: 26px;
        margin: 0;
    }

    .places__button {
        width: 100%;
        max-width: 355px;
        font-size: 14px;
    }
}

@media screen and (max-width: 544px) {
    .places {
        max-width: 288px;
        margin: 62px auto;
    }

    .places__card {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "title"
        "artist"
        "image"
        "text"
        "button";
        gap: 30px;
        padding: 0px;
    }

    .places__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }

    .places__image {
        max-width: 100%;
        max-height: 320px;
        flex-basis: auto;
        flex-grow: 0;
        margin: auto;
    }
     
    .places__artist {
        max-width: 260px;
    }

    .places__name {
        max-width: 288px;
    }

    .places__paragraph {
        max-width: 288px;
    }

    .places__button {
        width: 288px;
        font-size: 14px;
        margin: auto;
    }
}