.span {
    width: 100%;
    max-width: 720px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    font-family: "Inter";
    line-height: 36px;
    color: #ffffff;
    margin-bottom: 64px;
}

.span__artist {
    width: 100%;
    max-width: 486px;
    font-size: 12px;
    font-family: "Inter";
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.12em;
    color: #AAAAAA;
    margin-bottom: 8px;
}

@media screen and (max-width: 544px) {
    .span {
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 40px;
    }
}