.span {
    width: 100%;
    max-width: 720px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    font-family: "Inter";
    line-height: 36px;
    color: #ffffff;
    margin-bottom: 64px;
}

@media screen and (max-width: 320px) {
    .span {
        max-width: 2880px;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 40px;
    }
}